  .Footer {
    margin-top: 100%;
    width: 100%;
    height: 55%;
    display: flex;
    overflow: hidden;
    position: absolute;
    background-color: rgba(30, 30, 30, 1);
  }
  .LF_Text {
    top: 110px;
    left: 110px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    font-size: larger;
    font-weight: 700;
  }
 .RightFooter {
    gap: 40px;
    top: 10%;
    right: 10%;
    display: flex;
    position: absolute;
    background-color: rgba(30, 30, 30, 1);
  }
  .RightFooterRow {
    color: rgba(217, 217, 217, 1);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  }
  .FooterText {
    top: 325px;
    left: 97px;
    color: rgba(217, 217, 217, 1);
    position: absolute;
    font-size: 18px;
    font-style: Medium;
    text-align: right;
    font-weight: 700;
  }
  .F_Picture {
    top: 45px;
    left: 103px;
    width: 193px;
    height: 50px;
    position: absolute;
  }
  
  