.HomePage {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}
.MainBlock {
  top: 157px;
  left: 77px;
  width: 1361px;
  height: 511px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: rgba(179, 230, 193, 1);
}
.LeftBlock {
  gap: 48px;
  top: 48px;
  left: 48px;
  width: 550px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.LeftBlockText {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  width: 550px;
  height: auto;
  font-size: 64px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 64px;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame6 {
  gap: 48px;
  width: 438px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame77-frame4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame77-text013 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text015 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.potPlant {
  top: 9px;
  left: 805px;
  width: 411px;
  height: 514px;
  position: absolute;
}
.SearchBlock {
  top: 408px;
  left: 37px;
  width: 449px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.SearchBlockText {
  top: 18px;
  left: 18px;
  color: var(--dl-color-default-color4);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.search {
  top: 22px;
  left: 407px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.Chiyai {
  top: 800.445068359375px;
  left: 97px;
  width: 307px;
  height: 321.16668701171875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: rgba(179, 230, 193, 0.4300000071525574);
}
.frame77-text023 {
  top: 210px;
  left: 16.877216339111328px;
  color: rgba(37, 34, 34, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Al Bayan;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text025 {
  top: 286px;
  left: 193.5915985107422px;
  color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Plain;
  text-align: left;
  font-family: Al Bayan;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame26 {
  gap: 10px;
  top: 278px;
  left: 17px;
  width: 107px;
  height: 31px;
  display: flex;
  padding: 13px 35px 12px 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(130, 174, 142, 1);
}
.frame77-text027 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text029 {
  top: 240.554931640625px;
  left: 231px;
  color: rgba(0, 0, 0, 0.5);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Plain;
  text-align: center;
  font-family: Al Bayan;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-time {
  top: 242.554931640625px;
  left: 128px;
  width: 80px;
  height: 15.86845588684082px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame77-date {
  top: 242.88230895996094px;
  left: 19.17301368713379px;
  width: 94px;
  height: 16.92635154724121px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame77-text033 {
  top: 1.21875px;
  left: 20.5380802154541px;
  color: rgba(0, 0, 0, 0.5);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Plain;
  text-align: left;
  font-family: Al Bayan;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-user {
  top: 240.554931640625px;
  left: 223px;
  width: 16px;
  height: 15px;
  position: absolute;
}
.frame77-maptag {
  top: 285px;
  left: 172px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.frame77-screenshot20230412at03551 {
  top: 19.554931640625px;
  left: 17px;
  width: 273px;
  height: 178px;
  position: absolute;
  border-radius: 8px;
}
.Yilan {
  top: 1278.78125px;
  left: 97px;
  width: 307px;
  height: 325.5067443847656px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: rgba(179, 221, 230, 0.4300000071525574);
}
.frame77-text119 {
  top: 1204.351318359375px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  width: 632px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text121 {
  top: 726px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  width: 509px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text123 {
  top: 1687px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  width: 513px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame49 {
  top: 1773px;
  left: 97px;
  width: 800px;
  height: 330px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(180, 221, 231, 0.5);
}
.frame77-text125 {
  top: 48px;
  left: 48px;
  color: rgba(30, 30, 30, 0.75);
  width: 704px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-group9 {
  top: 126px;
  left: 13px;
  width: 150px;
  height: 205.9859161376953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-vector {
  top: 62px;
  left: 35px;
  width: 48px;
  height: 41px;
  position: absolute;
}
.frame77-unsplash5a--uy-cw-jwremovebgpreview {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 206px;
  position: absolute;
}
.frame77-frame46 {
  top: 183px;
  left: 170px;
  width: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame77-text127 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text129 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame50 {
  top: 1775px;
  left: 946px;
  width: 800px;
  height: 330px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(180, 221, 231, 0.5);
}
.frame77-text131 {
  top: 48px;
  left: 48px;
  color: rgba(30, 30, 30, 0.75);
  width: 704px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame461 {
  top: 183px;
  left: 170px;
  width: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame77-text133 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text135 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-group10 {
  top: 138px;
  left: 29px;
  width: 128px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-vector1 {
  top: 50px;
  left: 19px;
  width: 48px;
  height: 41px;
  position: absolute;
}
.frame77-unsplash-o3ymv-t-wf-uremovebgpreview {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 192px;
  position: absolute;
}
.frame77-frame24 {
  gap: 48px;
  top: 2177px;
  left: 137px;
  width: 1248px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.frame77-frame17 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-text137 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text139 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame22 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.frame77-frame19 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-frame18 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-group1 {
  width: 96px;
  height: 96px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ellipse1 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 96px;
  position: absolute;
}
.frame77-vector2 {
  top: 28px;
  left: 28px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.frame77-text141 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text143 {
  color: rgba(30, 30, 30, 0.5);
  width: 400px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame20 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-frame181 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-group11 {
  width: 96px;
  height: 96px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ellipse11 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 96px;
  position: absolute;
}
.frame77-vector3 {
  top: 28px;
  left: 28px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.frame77-text145 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text147 {
  color: rgba(30, 30, 30, 0.5);
  width: 400px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame21 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-frame182 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-group12 {
  width: 96px;
  height: 96px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ellipse12 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 96px;
  position: absolute;
}
.frame77-telephone-outbound {
  top: 28px;
  left: 28px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.frame77-text149 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text151 {
  color: rgba(30, 30, 30, 0.5);
  width: 400px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-footer {
  top: 2586px;
  left: 0px;
  width: 1514px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-color2);
}
.frame77-frame52 {
  gap: 24px;
  top: 109px;
  left: 97px;
  width: 189px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.frame77-frame501 {
  gap: 24px;
  width: 156px;
  height: 59px;
  display: flex;
  padding: 0 0 0 1px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame77-vector4 {
  top: 180px;
  left: 258px;
  width: 23px;
  height: 19px;
  position: absolute;
}
.frame77-group12 {
  top: 174px;
  left: 175px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ellipse3 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(30, 30, 30, 0.5);
  border-style: solid;
  border-width: 1px;
}
.frame77-riinstagramfill {
  top: 3px;
  left: 11px;
  width: 26px;
  height: 25px;
  position: absolute;
}
.frame77-group11 {
  top: 174px;
  left: 110px;
  width: 236.5px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ggfacebook {
  top: 3px;
  left: 0px;
  width: 30px;
  height: 25px;
  position: absolute;
}
.frame77-ellipse2 {
  top: 0px;
  left: 181px;
  width: 55px;
  height: 55px;
  position: absolute;
  border-color: rgba(30, 30, 30, 0.75);
  border-style: solid;
  border-width: 1px;
}
.frame77-frame56 {
  gap: 40px;
  top: 45px;
  left: 980px;
  width: 439px;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(30, 30, 30, 1);
}
.frame77-frame53 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 1);
}
.frame77-text156 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text158 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text160 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text162 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame54 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 1);
}
.frame77-text164 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text166 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text168 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text170 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame55 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 1);
}
.frame77-text172 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text174 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text176 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text178 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text180 {
  top: 325px;
  left: 97px;
  color: rgba(217, 217, 217, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-screenshot20230411at15262 {
  top: 45px;
  left: 103px;
  width: 193px;
  height: 50px;
  position: absolute;
}
.frame77-text182 {
  top: 109px;
  left: 103px;
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-screenshot20230411at15261 {
  top: 61px;
  left: 108px;
  width: 193px;
  height: 50px;
  position: absolute;
}
.frame77-text187 {
  top: 756px;
  left: 1364px;
  color: rgba(37, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: right;
  font-family: Al Bayan;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text189 {
  top: 1237px;
  left: 1364px;
  color: rgba(37, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: right;
  font-family: Al Bayan;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-screenshot20230412at03102 {
  top: 0px;
  left: 0px;
  width: 1516px;
  height: 35px;
  position: absolute;
}
