.SearchBlock {
  top: 408rem;
  left: 37rem;
  width: 449rem;
  height: 64rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12rem;
  background-color: rgba(255, 255, 255, 1);
}
.SearchBlockText {
  top: 18rem;
  left: 18rem;
  color: var(--dl-color-default-color4);
  height: auto;
  position: absolute;
  font-size: 18rem;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.search {
  top: 22rem;
  left: 407rem;
  width: 20rem;
  height: 20rem;
  position: absolute;
}
.Event {
  top: 800.445068359375rem;
  left: 97rem;
  width: 307rem;
  height: 321.16668701171875rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15rem;
  background-color: rgba(179, 230, 193, 0.4300000071525574);
}
/* .EventName{
  top: 210rem;
  left: 16.877216339111328rem;
  color: rgba(37, 34, 34, 1);
  width: 259rem;
  height: auto;
  position: absolute;
  font-size: 20rem;
  font-style: Bold;
  text-align: left;
  font-family: Al Bayan;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.EventLocation {
  top: 286rem;
  left: 193.5915985107422rem;
  color: rgba(0, 0, 0, 0.5);
  width: 100rem;
  height: auto;
  position: absolute;
  font-size: 12rem;
  font-style: Plain;
  text-align: left;
  font-family: Al Bayan;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
} */
/* .JoinButton {
  gap: 10rem;
  top: 278rem;
  left: 17rem;
  width: 107rem;
  height: 31rem;
  display: flex;
  padding: 13rem 35rem 12rem 10rem;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8rem;
  background-color: rgba(130, 174, 142, 1);
}
.JoinTextStyle {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18rem;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 8rem;
  background-color: rgba(130, 174, 142, 1);
}
.CurrentParticipants {
  top: 240.554931640625rem;
  left: 231rem;
  color: rgba(0, 0, 0, 0.5);
  width: 58rem;
  height: auto;
  position: absolute;
  font-size: 14rem;
  font-style: Plain;
  text-align: center;
  font-family: Al Bayan;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.time {
  top: 242.554931640625rem;
  left: 128rem;
  width: 80rem;
  height: 15.86845588684082rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.date {
  top: 242.88230895996094rem;
  left: 19.17301368713379rem;
  width: 94rem;
  height: 16.92635154724121rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.TimeText {
  top: 0.946044921875rem;
  left: 21.382915496826172rem;
  color: rgba(0, 0, 0, 0.5);
  width: 89rem;
  height: auto;
  position: absolute;
  font-size: 12rem;
  font-style: Plain;
  text-align: left;
  font-family: Al Bayan;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.DateText {
  top: 1.21875rem;
  left: 20.5380802154541rem;
  color: rgba(0, 0, 0, 0.5);
  width: 79rem;
  height: auto;
  position: absolute;
  font-size: 12rem;
  font-style: Plain;
  text-align: left;
  font-family: Al Bayan;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user {
  top: 240.554931640625rem;
  left: 223rem;
  width: 16rem;
  height: 15rem;
  position: absolute;
}
.maptag {
  top: 285rem;
  left: 172rem;
  width: 17rem;
  height: 17rem;
  position: absolute;
}
.Picture {
  top: 19.554931640625rem;
  left: 17rem;
  width: 273rem;
  height: 178rem;
  position: absolute;
  border-radius: 8rem;
} */
.Yilan {
  top: 1278.78125rem;
  left: 97rem;
  width: 307rem;
  height: 325.5067443847656rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15rem;
  background-color: rgba(179, 221, 230, 0.4300000071525574);
}
.frame77-text119 {
  top: 1204.351318359375rem;
  left: 97rem;
  color: rgba(0, 0, 0, 1);
  width: 632rem;
  height: auto;
  position: absolute;
  font-size: 32rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text121 {
  top: 726rem;
  left: 97rem;
  color: rgba(0, 0, 0, 1);
  width: 509rem;
  height: auto;
  position: absolute;
  font-size: 32rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text123 {
  top: 1687rem;
  left: 97rem;
  color: rgba(0, 0, 0, 1);
  width: 513rem;
  height: auto;
  position: absolute;
  font-size: 32rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame49 {
  top: 1773rem;
  left: 97rem;
  width: 800rem;
  height: 330rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12rem;
  background-color: rgba(180, 221, 231, 0.5);
}
.frame77-text125 {
  top: 48rem;
  left: 48rem;
  color: rgba(30, 30, 30, 0.75);
  width: 704rem;
  height: auto;
  position: absolute;
  font-size: 18rem;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-group9 {
  top: 126rem;
  left: 13rem;
  width: 150rem;
  height: 205.9859161376953rem;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-vector {
  top: 62rem;
  left: 35rem;
  width: 48rem;
  height: 41rem;
  position: absolute;
}
.frame77-unsplash5a--uy-cw-jwremovebgpreview {
  top: 0rem;
  left: 0rem;
  width: 150rem;
  height: 206rem;
  position: absolute;
}
.frame77-frame46 {
  top: 183rem;
  left: 170rem;
  width: 110rem;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame77-text127 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text129 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 12rem;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame50 {
  top: 1775rem;
  left: 946rem;
  width: 800rem;
  height: 330rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12rem;
  background-color: rgba(180, 221, 231, 0.5);
}
.frame77-text131 {
  top: 48rem;
  left: 48rem;
  color: rgba(30, 30, 30, 0.75);
  width: 704rem;
  height: auto;
  position: absolute;
  font-size: 18rem;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame461 {
  top: 183rem;
  left: 170rem;
  width: 147rem;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame77-text133 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text135 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 12rem;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-group10 {
  top: 138rem;
  left: 29rem;
  width: 128rem;
  height: 192rem;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-vector1 {
  top: 50rem;
  left: 19rem;
  width: 48rem;
  height: 41rem;
  position: absolute;
}
.frame77-unsplash-o3ymv-t-wf-uremovebgpreview {
  top: 0rem;
  left: 0rem;
  width: 128rem;
  height: 192rem;
  position: absolute;
}
.frame77-frame24 {
  gap: 48rem;
  top: 2177rem;
  left: 137rem;
  width: 1248rem;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.frame77-frame17 {
  gap: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-text137 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 32rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text139 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18rem;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame22 {
  gap: 24rem;
  display: flex;
  align-items: flex-start;
}
.frame77-frame19 {
  gap: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-frame18 {
  gap: 24rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-group1 {
  width: 96rem;
  height: 96rem;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ellipse1 {
  top: 0rem;
  left: 0rem;
  width: 96rem;
  height: 96rem;
  position: absolute;
}
.frame77-vector2 {
  top: 28rem;
  left: 28rem;
  width: 40rem;
  height: 40rem;
  position: absolute;
}
.frame77-text141 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text143 {
  color: rgba(30, 30, 30, 0.5);
  width: 400rem;
  height: auto;
  font-size: 18rem;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame20 {
  gap: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-frame181 {
  gap: 24rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-group11 {
  width: 96rem;
  height: 96rem;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ellipse11 {
  top: 0rem;
  left: 0rem;
  width: 96rem;
  height: 96rem;
  position: absolute;
}
.frame77-vector3 {
  top: 28rem;
  left: 28rem;
  width: 40rem;
  height: 40rem;
  position: absolute;
}
.frame77-text145 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text147 {
  color: rgba(30, 30, 30, 0.5);
  width: 400rem;
  height: auto;
  font-size: 18rem;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame21 {
  gap: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-frame182 {
  gap: 24rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame77-group12 {
  width: 96rem;
  height: 96rem;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ellipse12 {
  top: 0rem;
  left: 0rem;
  width: 96rem;
  height: 96rem;
  position: absolute;
}
.frame77-telephone-outbound {
  top: 28rem;
  left: 28rem;
  width: 40rem;
  height: 40rem;
  position: absolute;
}
.frame77-text149 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text151 {
  color: rgba(30, 30, 30, 0.5);
  width: 400rem;
  height: auto;
  font-size: 18rem;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-footer {
  top: 2586rem;
  left: 0rem;
  width: 1514rem;
  height: 400rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-color2);
}
.frame77-frame52 {
  gap: 24rem;
  top: 109rem;
  left: 97rem;
  width: 189rem;
  height: 65rem;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.frame77-frame501 {
  gap: 24rem;
  width: 156rem;
  height: 59rem;
  display: flex;
  padding: 0 0 0 1rem;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame77-vector4 {
  top: 180rem;
  left: 258rem;
  width: 23rem;
  height: 19rem;
  position: absolute;
}
.frame77-group12 {
  top: 174rem;
  left: 175rem;
  width: 48rem;
  height: 48rem;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ellipse3 {
  top: 0rem;
  left: 0rem;
  width: 48rem;
  height: 48rem;
  position: absolute;
  border-color: rgba(30, 30, 30, 0.5);
  border-style: solid;
  border-width: 1rem;
}
.frame77-riinstagramfill {
  top: 3rem;
  left: 11rem;
  width: 26rem;
  height: 25rem;
  position: absolute;
}
.frame77-group11 {
  top: 174rem;
  left: 110rem;
  width: 236.5rem;
  height: 55rem;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame77-ggfacebook {
  top: 3rem;
  left: 0rem;
  width: 30rem;
  height: 25rem;
  position: absolute;
}
.frame77-ellipse2 {
  top: 0rem;
  left: 181rem;
  width: 55rem;
  height: 55rem;
  position: absolute;
  border-color: rgba(30, 30, 30, 0.75);
  border-style: solid;
  border-width: 1rem;
}
.frame77-frame56 {
  gap: 40rem;
  top: 45rem;
  left: 980rem;
  width: 439rem;
  height: 180rem;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(30, 30, 30, 1);
}
.frame77-frame53 {
  gap: 24rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 1);
}
.frame77-text156 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text158 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text160 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text162 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame54 {
  gap: 24rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 1);
}
.frame77-text164 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text166 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text168 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text170 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-frame55 {
  gap: 24rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 1);
}
.frame77-text172 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text174 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text176 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text178 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 18rem;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text180 {
  top: 325rem;
  left: 97rem;
  color: rgba(217, 217, 217, 1);
  height: auto;
  position: absolute;
  font-size: 18rem;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-screenshot20230411at15262 {
  top: 45rem;
  left: 103rem;
  width: 193rem;
  height: 50rem;
  position: absolute;
}
.frame77-text182 {
  top: 109rem;
  left: 103rem;
  color: rgba(255, 255, 255, 1);
  width: 253rem;
  height: auto;
  position: absolute;
  font-size: 16rem;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-screenshot20230411at15261 {
  top: 61rem;
  left: 108rem;
  width: 193rem;
  height: 50rem;
  position: absolute;
}
.frame77-text187 {
  top: 756rem;
  left: 1364rem;
  color: rgba(37, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15rem;
  font-style: Bold;
  text-align: right;
  font-family: Al Bayan;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-text189 {
  top: 1237rem;
  left: 1364rem;
  color: rgba(37, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15rem;
  font-style: Bold;
  text-align: right;
  font-family: Al Bayan;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame77-screenshot20230412at03102 {
  top: 0rem;
  left: 0rem;
  width: 1516rem;
  height: 35rem;
  position: absolute;
}
