/* .LogInPage {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
  } */
  /* .LogInContainer {
    gap: 28rem;
    top: 15%;
    display: flex;
    padding: 100rem;
    position: absolute;
    align-items: center;
    border-radius: 16re m;
    border-style: solid;
    border-color: green;
    flex-direction: column;
    background-color: white;
  } */
  /* .LogInTextSet {
    gap: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  } */
  /* .LogInText {
    font-size: xx-large;
  } */
  .LogInText1 {
    color: rgba(0, 0, 0, 0.4000000059604645);
    height: auto;
    text-align: center;
    line-height: 20rem;
  }
  .LogInButtonSet {
    gap: 16rem;
    display: flex;
    align-items: flex-start;
  }
  .LogInButtonStyle {
    font-size: larger;
    width: 200rem;
    height: 50rem;
    display: flex;
    padding: 8rem 8rem;
    text-align: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 1rem;
    border-radius: 8rem;
    background-color: white;
  }
  .LogInText2 {
    color: rgba(0, 0, 0, 0.4000000059604645);
    height: auto;
    text-align: left;
    line-height: 18rem;
  }
  .LogInInputSet {
    gap: 16rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .LogInInputStyle {
    width: 388rem;
    height: 40rem;
    display: flex;
    padding: 8rem 16rem;
    align-items: left;
    font-size: large;
    color: rgba(0, 0, 0, 0.4000000059604645);
    background-color: var(--dl-color-white-100);
    border-style: solid;
    border-width: 1rem;
    border-radius: 8rem;
    border-color: black;
    flex-direction: column;
    justify-content: center;
  }
  .LogInText3 {
    gap: 8rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .LogInButtonSet2 {
    margin-top: 5%;
    gap: 16rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .LogInButtonStyle2 {
    font-size: large;
    width: 388rem;
    display: flex;
    padding: 8rem 16rem;
    align-items: center;
    border-radius: 8rem;
    justify-content: center;
    color: white;
    background-color: black;
  }
  



  