.LogInPage {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
  }
  .LogInContainer {
    gap: 28px;
    top: 15%;
    display: flex;
    padding: 100px;
    position: absolute;
    align-items: center;
    border-radius: 16px;
    border-style: solid;
    border-color: green;
    flex-direction: column;
    background-color: white;
  }
  .LogInTextSet {
    gap: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .LogInText {
    font-size: xx-large;
  }
  .LogInText1 {
    color: rgba(0, 0, 0, 0.4000000059604645);
    height: auto;
    text-align: center;
    line-height: 20px;
  }
  .LogInButtonSet {
    gap: 16px;
    display: flex;
    align-items: flex-start;
  }
  .LogInButtonStyle {
    font-size: larger;
    width: 200px;
    height: 50px;
    display: flex;
    padding: 8px 8px;
    text-align: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: white;
  }
  .LogInText2 {
    color: rgba(0, 0, 0, 0.4000000059604645);
    height: auto;
    text-align: left;
    line-height: 18px;
  }
  .LogInInputSet {
    gap: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .LogInInputStyle {
    width: 388px;
    height: 40px;
    display: flex;
    padding: 8px 16px;
    align-items: left;
    font-size: large;
    color: rgba(0, 0, 0, 0.4000000059604645);
    background-color: var(--dl-color-white-100);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: black;
    flex-direction: column;
    justify-content: center;
  }
  .LogInText3 {
    gap: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .LogInButtonSet2 {
    margin-top: 5%;
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .LogInButtonStyle2 {
    font-size: large;
    width: 388px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    color: white;
    background-color: black;
  }
  



  