/* 基礎 style 設定 */
:root {
	/* 色票變數 */
	--primary-black: rgba(30, 30, 30, 1);
	/* 文字顏色 */
	--text-black: rgba(30, 30, 30, 1);
	--text-gray: rgba(42, 45, 55, 0.6);
	--text-white: rgba(217, 217, 217, 1);

	/* 預設排版 */
	margin: 0;
	padding: 0;
	border: 0;

	/* 自行設定 */
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	color: var(--primary-black);
}
