/* 基礎 style 設定 */
:root {
	/* 背景顏色 */
	--bg-black: rgba(30, 30, 30, 1);
	--bg-gray: rgba(217, 217, 217, 0.34);
	--bg-white: rgba(243, 243, 243, 1);
	--bg-green-light: rgba(180, 231, 194, 0.5);
	--bg-green-main: rgba(180, 231, 194, 1);
	--bg-green-dark: rgba(131, 174, 143, 1);
	--bg-blue-light: rgba(227, 245, 255, 1);
	--bg-blue-main: rgba(180, 221, 231, 1);
	--bg-blue-dark: rgba(60, 157, 164, 1);
	/* 文字顏色 */
	--text-black: rgba(30, 30, 30, 1);
	--text-gray: rgba(42, 45, 55, 0.6);
	--text-white: rgba(217, 217, 217, 1);

	/* 預設排版 */
	margin: 0;
	padding: 0;
	border: 0;

	/* 字形設定 */
	font-size: 2.25vmin;
	font-family: "Poppins", sans-serif;
	color: var(--text-black);

	/* 操作設定 */
	overscroll-behavior: none;
}

::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
	background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: var(--gray-secondary);
}
